<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Warhammer</title>
</head>
<body>
    <h1>Kalkulator WFB</h1>
    <form action="/warhammer" method="POST">
        <label for="defens">Podaj Defensive Skill</label><br>
        <input type="number" id="defens" name="defens">
        <br>
        <label for="att_1">Podaj no Attack 1</label><br>
        <input type="number" id="att_1" name="att_1">
        <br>
        <label for="att_2">Podaj no Attack 2</label><br>
        <input type="number" id="att_2" name="att_2">
        <br>
        <input type="submit" value="Walka!">
    </form>

</body>
</html>