<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Warhammer - Tabelka</title>
    <style>
        table {border: 3px black; border-style: solid}
        tr {font-size: 20px; border-style: solid; border: 3px black}

    </style>
</head>
<body>
    <table>
        <tr>
            <th>Trafienia</th>
            <td>{{ hit1 }}</td>
            <td>{{ hit2 }}</td>
        </tr>
        <tr>
            <td rowspan="5">zranienie</td>
            <td>{{ wound1 }}</td>
            <td>{{ wound2 }}</td>
        </tr>
        <tr>
            <td>{{ result3 }}</td>
            <td>{{ result3 }}</td>
        </tr>
        <tr>
            <td>{{ result4 }}</td>
            <td>{{ result4 }}</td>
        </tr>
                <tr>
            <td>{{ result3 }}</td>
            <td>{{ result3 }}</td>
        </tr>
        <tr>
            <td>{{ result4 }}</td>
            <td>{{ result4 }}</td>
        </tr>
    </table>
</body>
</html>